@mixin form-group() {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
}

@mixin form-control($bgcolor, $inp-color, $label-color) {
    background-color: var($bgcolor);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    height: 32px;
   
    & label {
        font: 14px sans-serif;
        color: var($label-color);
    }
    & input, select {
        height: 32px;
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
        font: 14px sans-serif;
        color: var($inp-color);
    }
    & select:required:invalid {
        color: var($label-color);
    }
}

@mixin search() {
    outline: none;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
  
    &:focus {
      border-color: green;
    }
  }