@mixin form-group() {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 428px;
}

@mixin form-control($color) {
    background-color: var($color);
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
    max-width: 428px;
    height: 32px;
    color: rgb(109, 109, 109);
    &::placeholder {
        color: rgb(109, 109, 109);
    }
}

@mixin search() {
    outline: none;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
  
    &:focus {
      border-color: green;
    }
  }